nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
}
nav img{
    width: 150px;
    
    
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    }
.nav-links ul li a{
    color: aliceblue;
    
    
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:after{
    content: '';
    width: 0%;
    height: 2PX;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 30px;
    height: 30px;
    
    
}
.lou{
    width: 50px;
    height: 50px;
}
.ins{
    background-color: mediumblue;
}
.connex{
    background-color: cyan;
}
.site{
    text-align: center;
    color: blue;
}

section{
    margin: 20px;
}
input{
    outline: none;
    padding: 6px 20px;
    
}
.input{
    margin-bottom: 20px;
}
input[type="submi"]{
    outline: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #48c;
    color: #fff;
    border: none;
    width: 300px;
    cursor: pointer;
    
}
input[type="submit"]:hover{
    background-color: #6ad;
    
}
#erreur{
    background-color: #c00;
    color: rgb(245, 23, 23);
    padding: 10px;
}


nav .fa{
    display: none;
}
.a{
     width: 900px;
    height: 500px;
    padding-left: 100px;
    display: flex; 
}
.c{
    text-align: center;
    /* background-color: #f44336; */
    font-size: x-large;
}
.bc{

    display: grid;
    /* justify-content: space-evenly;
    padding: 5px;
    justify-content: space-between; */
    grid-template-columns: repeat(3,1fr);
}
.im{
    width: 300px;
    height: 300px;
    
    
}
#intro-example{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(faso.png);
    height: 100vh;
}
.lm{
    width: 350px;
    height: 350px;
}
.kkk{
    display: flex;
    justify-content: space-around;
}
.vi{
    font-size: x-large;
    color: darkgreen;
}
.btm{
    margin-left: 70px;
    background-color: chocolate;
    border-radius: 10px;
    padding: 20px;
}
.jjn{
    font-size: x-large;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    
    padding: 10px;
  }
  
  .grid-container > div {
    
    /* text-align: center;
    padding: 20px 0;
    font-size: 30px; */
  }
.b{
    width: 300px;
    height: 300px;
    
}
.r{
    display: flex;
    justify-content: space-around;
}
.m{
    font-size: x-large;
}
.img{
    width:300px ;
    height: 300px;
    padding: 1px;
    margin-right: 95px;
}
.bc{
    display: flex;
    justify-content: space-around;
}
.ville{
    width: 300px;
    border: 1px solid gainsboro;
    box-shadow: 10px 10px 40px gainsboro;
}
.ville button{
    padding: 10px 30px;
    background-color: rgb(255, 115, 0);
    margin-left: 100px;
}
.dis{
     /* background-color: coral;  */
    display: flex;
    
}
.loo{
    display: flex;
}
.f{
     display: flex; 
}
.ll{
    display: flex;
}



  
  @media (max-width: 300px) {
      
        .a{
            width: 400px;
            height: 400px;
            /* padding-left: 100px; */
        display: block;
        
            
        }
        .c{
            text-align: center;
            /* background-color: #f44336; */
            font-size: x-large;
        }
        .bc{
            display: flex;
            
            justify-content: space-evenly;
            padding: 5px;
            justify-content: space-between;
            flex-direction: column;
        }
        .im{
            width: 300px;
            height: 300px;
            flex-direction: column;
            
            
        }
        .img{
            width:300px ;
            height: 300px;
            padding: 1px;
            margin-right: 95px;
            flex-direction: column;
            display: flex;
        }
        .bc{
            display: flex;
            justify-content: space-around;
        }
        .dis{
             /* background-color: coral;  */
            display: flex;
            
        }
        .f{
             display: flex; 
        }
        
        
        
          }  
      
  
  
  
  
  
  
  
  
  
  